[submodule "jni/ccid"]
	path = jni/ccid
	url = https://github.com/mikma/ccid-android.git
[submodule "jni/libusb"]
	path = jni/libusb
	url = https://github.com/mikma/libusb-android.git
[submodule "jni/pcsc-lite"]
	path = jni/pcsc-lite
        url = https://github.com/mikma/pcsc-lite-android.git
[submodule "jni/pcsc-proxy"]
	path = jni/pcsc-proxy
	url = https://github.com/mikma/pcsc-proxy-android.git
[submodule "jni/coffeecatch"]
	path = jni/coffeecatch
	url = https://github.com/xroche/coffeecatch.git
