<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="se.m7n.android.libusb"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk
    	android:minSdkVersion="12"
        android:targetSdkVersion="18" />
    
    <permission
        android:name="org.openintents.smartcard.permission.ACCESS_PCSC"
        android:protectionLevel="dangerous"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:label="@string/pcsc_daemon_permission_label"
        android:description="@string/pcsc_daemon_permission_desc">
    </permission>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="LibUsbActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AttachedActivity"
                  android:label="@string/attached_name"
                  android:theme="@android:style/Theme.Dialog"
                  android:noHistory="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

             <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <service android:name="LibUsbService"
                 android:label="@string/service_name"
                 android:permission="org.openintents.smartcard.permission.ACCESS_PCSC">
          <intent-filter>
            <action android:name="org.openintents.smartcard.BIND_PCSC" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </service>
    </application>
</manifest>
